## 3.5 实操：I-z谱处理功函数

In [1]:
import numpy as np
import pandas as pd

In [2]:
with open('iz.csv', mode = 'r', encoding = 'UTF-8') as f:
    df = pd.read_csv(f, names = ['z', 'I1', 'I2'])
df

                z            I1            I2
0    3.000000e-10  2.270000e-12  2.240000e-12
1    3.000000e-10  2.060000e-12  1.900000e-12
2    3.000000e-10  2.790000e-12  1.560000e-12
3    2.990000e-10  2.600000e-12  1.930000e-12
4    2.990000e-10  1.740000e-12  9.890000e-13
..            ...           ...           ...
995  1.010000e-10  1.410000e-10  1.410000e-10
996  1.010000e-10  1.400000e-10  1.410000e-10
997  1.000000e-10  1.410000e-10  1.430000e-10
998  1.000000e-10  1.420000e-10  1.420000e-10
999  1.000000e-10  1.440000e-10  1.440000e-10

[1000 rows x 3 columns]

#### df中增加列

In [3]:
df['Imean'] = 0.5 * (df['I1'] + df['I2'])
df

                z            I1            I2         Imean
0    3.000000e-10  2.270000e-12  2.240000e-12  2.255000e-12
1    3.000000e-10  2.060000e-12  1.900000e-12  1.980000e-12
2    3.000000e-10  2.790000e-12  1.560000e-12  2.175000e-12
3    2.990000e-10  2.600000e-12  1.930000e-12  2.265000e-12
4    2.990000e-10  1.740000e-12  9.890000e-13  1.364500e-12
..            ...           ...           ...           ...
995  1.010000e-10  1.410000e-10  1.410000e-10  1.410000e-10
996  1.010000e-10  1.400000e-10  1.410000e-10  1.405000e-10
997  1.000000e-10  1.410000e-10  1.430000e-10  1.420000e-10
998  1.000000e-10  1.420000e-10  1.420000e-10  1.420000e-10
999  1.000000e-10  1.440000e-10  1.440000e-10  1.440000e-10

[1000 rows x 4 columns]

In [4]:
z = np.array(df['z']) * 1e10
lnI = np.log(np.array(df['Imean']) * 1e12)

#### np.polyfit进行线性拟合

In [5]:
fit_res = np.polyfit(z, lnI, 1)
print(fit_res)

[-2.1268743   7.14673331]

In [6]:
wf_res = 0.952 * pow(fit_res[0], 2)
wf_res

4.306461770837469