## 3.2 pandas数据结构

### 3.2.1 Series数据结构

#### 导入pandas库

In [1]:
import pandas as pd

#### Series的创建与使用

In [2]:
s = pd.Series([50, 50, 100])
print(s)

0     50
1     50
2    100
dtype: int64

In [3]:
s.index=['Red', 'Purple', 'Blue']
print(s)

Red        50
Purple     50
Blue      100
dtype: int64

### 3.2.2 DataFrame数据结构

#### DataFrame的创建与使用

In [4]:
data = [['Red', 50, 60], ['Purple', 60, 50], ['Blue', 100, 100]]
df = pd.DataFrame(data, columns = ['name', 'score1', 'score2'])
df

     name  score1  score2
0     Red      50      60
1  Purple      60      50
2    Blue     100     100

In [5]:
data = [[50, 60], [60, 50], [100, 100]]
df = pd.DataFrame(data, columns = ['score1', 'score2'])
df.index=['Red', 'Purple', 'Blue']
df

        score1  score2
Red         50      60
Purple      60      50
Blue       100     100

### 3.2.3 使用pandas读取csv文件

In [6]:
import pandas as pd
df = pd.read_csv('didz.csv', header = None)
df

,0,1,2,3,4,5,6,7
0,3.000000e-10,2.270000e-12,2.240000e-12,2.300000e-12,2.250000e-12,2.220000e-12,2.250000e-12,2.240000e-12
1,2.900000e-10,2.810000e-12,1.840000e-12,2.990000e-12,2.580000e-12,2.310000e-12,2.800000e-12,2.500000e-12
2,3.000000e-10,2.270000e-12,2.240000e-12,2.300000e-12,2.250000e-12,2.220000e-12,2.250000e-12,2.240000e-12
3,2.900000e-10,2.810000e-12,1.840000e-12,2.990000e-12,2.580000e-12,2.310000e-12,2.800000e-12,2.500000e-12