In [4]:
import numpy as np

In [5]:
a = np.array([1, 2, 3, 4, 5, 6])
b = np.array([[1, 2, 3], [4, 5, 6]])

print(a)
print(b)

[1 2 3 4 5 6]
[[1 2 3]
 [4 5 6]]

In [10]:
print(a.ndim)
print(a.shape)
print(b.ndim)
print(b.shape)
print(b.size)
print(b.dtype)

1
(6,)
2
(2, 3)
6
int32

In [16]:
a = np.zeros(6)
b = np.ones((3, 2))
print(a)
print(b)
print(b.shape)

[0. 0. 0. 0. 0. 0.]
[[1. 1.]
 [1. 1.]
 [1. 1.]]
(3, 2)

In [17]:
c = np.empty((2, 3, 4))
print(c)

[[[6.23042070e-307 4.67296746e-307 1.69121096e-306 1.89145708e-307]
  [6.23045466e-307 2.22526399e-307 6.23053614e-307 1.29060871e-306]
  [6.23055651e-307 1.06811422e-306 3.56043054e-307 1.37961641e-306]]

 [[6.23039694e-307 9.34609790e-307 8.45593934e-307 9.34600963e-307]
  [1.86921143e-306 6.23061763e-307 9.34608432e-307 9.79111946e-307]
  [6.89806509e-307 9.79107193e-307 1.42410974e-306 1.42410974e-306]]]

In [18]:
d = np.arange(1, 10, 2)
print(d)

[1 3 5 7 9]

In [19]:
e = np.arange(0, 2.01, 0.25)
print(e)

[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.  ]

In [20]:
f = np.linspace(0, 2, 9)
print(f)

[0.   0.25 0.5  0.75 1.   1.25 1.5  1.75 2.  ]

In [29]:
a = np.arange(1, 7)
print(a)
print(a.shape)
a = a.reshape(2, -1)
print(a)
print(a.shape)

[1 2 3 4 5 6]
(6,)
[[1 2 3]
 [4 5 6]]
(2, 3)

In [30]:
a = a.reshape(-1, 1)
print(a)
print(a.shape)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]
(6, 1)

In [31]:
b = np.zeros(24)
print(b.ndim)
b = b.reshape(2, 4, 3)
print(b.ndim)
print(b)

1
3
[[[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]]

In [32]:
b.reshape(-1)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0.])

# 10:10继续

In [33]:
c = np.arange(24).reshape(2, 3, 4)
c

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [41]:
c[1:]

array([[[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [40]:
c[1:, :2]

array([[[12, 13, 14, 15],
        [16, 17, 18, 19]]])

In [42]:
c[1:, :2, :-1]

array([[[12, 13, 14],
        [16, 17, 18]]])

In [45]:
a = np.arange(24).reshape(2, 3, 4)
print(a)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]

In [46]:
b = np.arange(2500)
print(b)

[   0    1    2 ... 2497 2498 2499]

In [47]:
b = b.reshape(50, 50)
print(b)

[[   0    1    2 ...   47   48   49]
 [  50   51   52 ...   97   98   99]
 [ 100  101  102 ...  147  148  149]
 ...
 [2350 2351 2352 ... 2397 2398 2399]
 [2400 2401 2402 ... 2447 2448 2449]
 [2450 2451 2452 ... 2497 2498 2499]]

In [48]:
np.set_printoptions(threshold = np.inf)

In [50]:
np.set_printoptions(threshold = 1000)

In [51]:
print(b)

[[   0    1    2 ...   47   48   49]
 [  50   51   52 ...   97   98   99]
 [ 100  101  102 ...  147  148  149]
 ...
 [2350 2351 2352 ... 2397 2398 2399]
 [2400 2401 2402 ... 2447 2448 2449]
 [2450 2451 2452 ... 2497 2498 2499]]

In [52]:
a = np.array([20, 30, 40, 50])
b = np.arange(4)
print(a)
print(b)

[20 30 40 50]
[0 1 2 3]

In [53]:
a + b

array([20, 31, 42, 53])

In [54]:
b ** 2

array([0, 1, 4, 9])

In [55]:
np.sin(a)

array([ 0.91294525, -0.98803162,  0.74511316, -0.26237485])

In [56]:
a < 35

array([ True,  True, False, False])

In [57]:
A = np.array([[1, 1], [0, 1]])
B = np.array([[2, 0], [3, 4]])
print(A)
print(B)

[[1 1]
 [0 1]]
[[2 0]
 [3 4]]

In [58]:
A*B

array([[2, 0],
       [0, 4]])

In [59]:
A@B

array([[5, 4],
       [3, 4]])

In [60]:
print(A)
print(A.T)

[[1 1]
 [0 1]]
[[1 0]
 [1 1]]

In [67]:
a = np.arange(0, 12).reshape(3, 4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [68]:
a = np.insert(a, 1, [99, 98, 97], axis = 1)

In [69]:
a

array([[ 0, 99,  1,  2,  3],
       [ 4, 98,  5,  6,  7],
       [ 8, 97,  9, 10, 11]])

In [70]:
a = np.insert(a, 1, 99, axis = 1)
a

array([[ 0, 99, 99,  1,  2,  3],
       [ 4, 99, 98,  5,  6,  7],
       [ 8, 99, 97,  9, 10, 11]])

In [71]:
a = np.arange(0, 24).reshape(6, 4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [73]:
np.delete(a, [1, 3], axis = 0)

array([[ 0,  1,  2,  3],
       [ 8,  9, 10, 11],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [74]:
a1 = np.inf
a2 = -np.inf

In [75]:
a1, a2

(inf, -inf)

not a number

In [76]:
a3 = np.nan
type(a3)

float

In [78]:
print(0 * a1, a1 + a2)

nan nan

In [79]:
print(np.isnan(a3))

True

In [80]:
print(a3 == a3)

False

In [86]:
a = np.arange(0, 24, 1.0).reshape(6, 4)
a

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.],
       [12., 13., 14., 15.],
       [16., 17., 18., 19.],
       [20., 21., 22., 23.]])

In [87]:
a[0][0] = np.nan
a[2][3] = np.nan
a

array([[nan,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., nan],
       [12., 13., 14., 15.],
       [16., 17., 18., 19.],
       [20., 21., 22., 23.]])

In [91]:
np.delete(a, np.where(np.isnan(a))[0], axis = 0)

array([[ 4.,  5.,  6.,  7.],
       [12., 13., 14., 15.],
       [16., 17., 18., 19.],
       [20., 21., 22., 23.]])

In [93]:
np.where(np.isnan(a))[0]

array([0, 2], dtype=int64)

In [94]:
a = np.arange(12)

In [95]:
b = a

In [96]:
a, b

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]),
 array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]))

In [97]:
a[0] = 9
a, b

(array([ 9,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]),
 array([ 9,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11]))

In [99]:
a.shape = 3, 4
a, b

(array([[ 9,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]),
 array([[ 9,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]))

In [100]:
c = a.copy()

In [101]:
a

array([[ 9,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [102]:
a[0][0] = 0
a, b, c

(array([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]),
 array([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]),
 array([[ 9,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]]))

In [103]:
a.shape = 2, 6
a

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11]])

In [104]:
c

array([[ 9,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [105]:
a = np.arange(int(1e8))
b = a[:100].copy()
del a

# 11:10继续

In [106]:
import pandas as pd

In [107]:
s = pd.Series([50, 50, 100])
print(s)

0     50
1     50
2    100
dtype: int64

In [108]:
s.index = ['Red', 'Purple', 'Blue']
print(s)

Red        50
Purple     50
Blue      100
dtype: int64

In [110]:
s['Red']

50

In [109]:
print(pd.Series([50, 50, 100], index = ['red', 'purple', 'blue']))

red        50
purple     50
blue      100
dtype: int64

In [111]:
data = [[50, 60], [60, 50], [100, 100]]
df = pd.DataFrame(data, columns = ['score1', 'score2'])
df.index = ['Red', 'Purple', 'Blue']
df

        score1  score2
Red         50      60
Purple      60      50
Blue       100     100

In [112]:
df.columns = ['s1', 's2']
df

         s1   s2
Red      50   60
Purple   60   50
Blue    100  100

In [113]:
df = df.rename(index = {'Blue':'blue'}, columns = {'s1':'score1'})
df

        score1   s2
Red         50   60
Purple      60   50
blue       100  100

In [116]:
df['score1']['Red']

50

In [115]:
df['s2']

Red        60
Purple     50
blue      100
Name: s2, dtype: int64

In [119]:
df = pd.read_csv('didz.csv', header = None)
df

,0,1,2,3,4,5,6,7
0,3.000000e-10,2.270000e-12,2.240000e-12,2.300000e-12,2.250000e-12,2.220000e-12,2.250000e-12,2.240000e-12
1,2.900000e-10,2.810000e-12,1.840000e-12,2.990000e-12,2.580000e-12,2.310000e-12,2.800000e-12,2.500000e-12
2,3.000000e-10,2.270000e-12,2.240000e-12,2.300000e-12,2.250000e-12,2.220000e-12,2.250000e-12,2.240000e-12
3,2.900000e-10,2.810000e-12,1.840000e-12,2.990000e-12,2.580000e-12,2.310000e-12,2.800000e-12,2.500000e-12