In [1]:
import numpy as np

In [2]:
a = np.array([1, 2, 3, 4, 5, 6])
b = np.array([[1, 2, 3], [4, 5, 6]])

print(a)
print(b)

[1 2 3 4 5 6]
[[1 2 3]
 [4 5 6]]

In [7]:
print(a.ndim)  #秩
print(b.ndim)
print(a.shape)
print(b.shape)
print(b.size)
print(b.dtype)

1
2
(6,)
(2, 3)
6
int32

In [13]:
a = np.zeros(5)
b = np.ones((5, 2))
a, b

(array([0., 0., 0., 0., 0.]),
 array([[1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.],
        [1., 1.]]))

In [14]:
c = np.empty(5)
c

array([0., 0., 0., 0., 0.])

In [15]:
d = np.arange(1, 10, 2)
d

array([1, 3, 5, 7, 9])

In [16]:
e = np.arange(0, 2.01, 0.25)
e

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  ])

In [18]:
f = np.linspace(0, 2, 11)
f

array([0. , 0.2, 0.4, 0.6, 0.8, 1. , 1.2, 1.4, 1.6, 1.8, 2. ])

In [27]:
a = np.arange(1, 7)
print(a)
print(a.shape)
a = a.reshape(-1, 2)
print(a)
print(a.shape)

[1 2 3 4 5 6]
(6,)
[[1 2]
 [3 4]
 [5 6]]
(3, 2)

In [28]:
a = a.reshape(-1, 1)
print(a)
print(a.shape)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]]
(6, 1)

In [29]:
b = np.zeros(24)
print(b.ndim)
b = b.reshape(2, 4, 3)
print(b.ndim)
print(b)

1
3
[[[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]

 [[0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]
  [0. 0. 0.]]]

In [30]:
b = b.reshape(-1)

In [31]:
b

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0.])

In [32]:
c = np.arange(24).reshape(2, 3, 4)
c

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [35]:
c[1:, :2, :-1]

array([[[12, 13, 14],
        [16, 17, 18]]])

# 10:11继续

In [36]:
b = np.arange(2500)
b

array([   0,    1,    2, ..., 2497, 2498, 2499])

In [37]:
b = b.reshape(50, 50)
b

array([[   0,    1,    2, ...,   47,   48,   49],
       [  50,   51,   52, ...,   97,   98,   99],
       [ 100,  101,  102, ...,  147,  148,  149],
       ...,
       [2350, 2351, 2352, ..., 2397, 2398, 2399],
       [2400, 2401, 2402, ..., 2447, 2448, 2449],
       [2450, 2451, 2452, ..., 2497, 2498, 2499]])

In [38]:
np.set_printoptions(threshold = np.inf)

In [40]:
np.set_printoptions(threshold = 1000)

In [41]:
b

array([[   0,    1,    2, ...,   47,   48,   49],
       [  50,   51,   52, ...,   97,   98,   99],
       [ 100,  101,  102, ...,  147,  148,  149],
       ...,
       [2350, 2351, 2352, ..., 2397, 2398, 2399],
       [2400, 2401, 2402, ..., 2447, 2448, 2449],
       [2450, 2451, 2452, ..., 2497, 2498, 2499]])

In [42]:
a = np.array([20, 30, 40, 50])
b = np.arange(4)
a, b

(array([20, 30, 40, 50]), array([0, 1, 2, 3]))

In [43]:
a+b

array([20, 31, 42, 53])

In [46]:
b ** 2

array([0, 1, 4, 9])

In [47]:
np.sin(a)

array([ 0.91294525, -0.98803162,  0.74511316, -0.26237485])

In [48]:
a < 35

array([ True,  True, False, False])

In [49]:
A = np.array([[1, 1], [0, 1]])
B = np.array([[2, 0], [3, 4]])
A, B

(array([[1, 1],
        [0, 1]]),
 array([[2, 0],
        [3, 4]]))

In [50]:
A * B

array([[2, 0],
       [0, 4]])

In [51]:
A@B

array([[5, 4],
       [3, 4]])

In [52]:
print(A)

[[1 1]
 [0 1]]

In [53]:
print(A.T)

[[1 0]
 [1 1]]

In [56]:
a = np.arange(1, 7)
a

array([1, 2, 3, 4, 5, 6])

In [57]:
a.T

array([1, 2, 3, 4, 5, 6])

In [65]:
a = np.arange(12).reshape(3, 4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [66]:
a = np.append(a, [[1, 1, 1, 1]], axis = 0)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [ 1,  1,  1,  1]])

In [69]:
a = np.arange(12).reshape(3, 4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [70]:
a = np.insert(a, 2, [99, 98, 97], axis = 1)
a

array([[ 0,  1, 99,  2,  3],
       [ 4,  5, 98,  6,  7],
       [ 8,  9, 97, 10, 11]])

In [71]:
a = np.insert(a, 1, 55, axis = 1)
a

array([[ 0, 55,  1, 99,  2,  3],
       [ 4, 55,  5, 98,  6,  7],
       [ 8, 55,  9, 97, 10, 11]])

In [72]:
a = np.arange(24).reshape(6, 4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [73]:
np.delete(a, 1, axis = 0)

array([[ 0,  1,  2,  3],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [75]:
np.delete(a, [1, 3], axis = 1)

array([[ 0,  2],
       [ 4,  6],
       [ 8, 10],
       [12, 14],
       [16, 18],
       [20, 22]])

In [76]:
a1 = np.inf
a2 = -np.inf
a1, a2

(inf, -inf)

nan, not a number

In [77]:
a1 + a2

nan

In [78]:
0 * a1

nan

In [79]:
a3 = np.nan
a3

nan

In [80]:
type(a3)

float

In [81]:
np.isnan(a3)

True

In [82]:
a3 == a3

False

In [83]:
a = np.arange(0, 24, 1.0).reshape(6, 4)
a

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.],
       [12., 13., 14., 15.],
       [16., 17., 18., 19.],
       [20., 21., 22., 23.]])

In [84]:
a[0][0] = np.nan
a[2][2] = np.nan
a

array([[nan,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., nan, 11.],
       [12., 13., 14., 15.],
       [16., 17., 18., 19.],
       [20., 21., 22., 23.]])

In [86]:
np.isnan(a)

array([[ True, False, False, False],
       [False, False, False, False],
       [False, False,  True, False],
       [False, False, False, False],
       [False, False, False, False],
       [False, False, False, False]])

In [85]:
np.where(np.isnan(a))

(array([0, 2], dtype=int64), array([0, 2], dtype=int64))

In [87]:
np.delete(a, np.where(np.isnan(a)), axis = 0)

array([[ 4.,  5.,  6.,  7.],
       [12., 13., 14., 15.],
       [16., 17., 18., 19.],
       [20., 21., 22., 23.]])

In [90]:
a = np.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [91]:
b = a
b.shape = 3, 4
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [92]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [93]:
b = a.copy()

In [94]:
b[0][0] = 999
b

array([[999,   1,   2,   3],
       [  4,   5,   6,   7],
       [  8,   9,  10,  11]])

In [95]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

## pandas

In [96]:
import pandas as pd

In [99]:
s = pd.Series([50, 50, 100])
s

0     50
1     50
2    100
dtype: int64

In [100]:
s.index = ['Red', 'Purple', 'Blue']
s

Red        50
Purple     50
Blue      100
dtype: int64

In [103]:
s2 = pd.Series([50, 50, 100], index = ['Red', 'Purple', 'Blue'])
s2

Red        50
Purple     50
Blue      100
dtype: int64

In [104]:
data = [[50, 60], [60, 50], [100, 100]]
df = pd.DataFrame(data, columns = ['score1', 'score2'])
df.index = ['Red', 'Purple', 'Blue']
df

        score1  score2
Red         50      60
Purple      60      50
Blue       100     100

In [105]:
df.columns = ['s1', 's2']
df

         s1   s2
Red      50   60
Purple   60   50
Blue    100  100

In [109]:
df['s1']['Red']

50

# 11:12继续

In [110]:
df = pd.read_csv('didz.csv', header = None)
df

,0,1,2,3,4,5,6,7
0,3.000000e-10,2.270000e-12,2.240000e-12,2.300000e-12,2.250000e-12,2.220000e-12,2.250000e-12,2.240000e-12
1,2.900000e-10,2.810000e-12,1.840000e-12,2.990000e-12,2.580000e-12,2.310000e-12,2.800000e-12,2.500000e-12
2,3.000000e-10,2.270000e-12,2.240000e-12,2.300000e-12,2.250000e-12,2.220000e-12,2.250000e-12,2.240000e-12
3,2.900000e-10,2.810000e-12,1.840000e-12,2.990000e-12,2.580000e-12,2.310000e-12,2.800000e-12,2.500000e-12