In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HER.csv')
df

,atom,GH,rcov,rd,Ef,IE,EN,epsilon_d,n,q,d_occ,d_unocc
0,Sc,-0.190,1.70,0.310,-8.282,6.561,1.36,1.064,3,1.640,0.85,4.17
1,Ti,-0.500,1.60,0.280,-8.326,6.827,1.54,0.998,4,1.404,0.83,3.58
2,V,-0.270,1.53,0.260,-7.494,6.746,1.63,1.316,5,1.341,1.22,2.57
3,Cr,0.310,1.39,0.250,-6.604,6.766,1.66,0.944,6,1.263,2.36,0.98
4,Mn,0.430,1.39,0.230,-6.520,7.434,1.55,-0.513,7,1.279,1.33,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...
94,Ag,2.048,1.45,0.385,-3.331,7.576,1.93,-4.020,11,0.773,0.03,0.45
95,Cd,0.245,1.44,0.370,-2.291,8.994,1.69,-2.120,12,1.069,0.43,0.01
96,Hf,-1.127,1.75,0.630,-9.987,6.824,1.30,0.453,4,1.571,0.54,2.16
97,Ta,-1.092,1.70,0.605,-9.573,7.887,1.50,0.120,5,1.605,1.01,1.94
98,W,-0.951,1.62,0.590,-8.916,7.980,2.36,0.061,6,1.483,2.00,2.25

In [3]:
y = df['GH'].values

In [4]:
X = df.drop(['atom', 'GH'], axis = 1).values

In [5]:
X.shape, y.shape

((99, 10), (99,))

In [6]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

In [7]:
coef = lr.coef_
intercept = lr.intercept_
print(coef, intercept)

[-2.97782096 -1.39383963 -0.15218746 -0.10779682  0.21907415 -0.16273486
 -0.0336933  -1.78289955 -0.41611084 -0.07249182] 7.458845629317801

In [8]:
print(lr.score(X, y))

0.8244636226908642

In [9]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse

print('MAE = %.3f' % (mae(y_true = y, y_pred = lr.predict(X))))
print('MSE = %.3f' % (mse(y_true = y, y_pred = lr.predict(X))))

MAE = 0.331
MSE = 0.182

## 留出法

In [10]:
X_train, y_train = X[:-20, :], y[:-20]
X_test, y_test = X[-20:, :], y[-20:]

In [11]:
lr_lo = LinearRegression()
lr_lo.fit(X_train, y_train)

LinearRegression()

In [16]:
R2 = lr_lo.score(X_test, y_test)
print('R2 = %.3f'% R2)

R2 = 0.813

In [15]:
from sklearn.metrics import mean_squared_error as mse
import numpy as np

RMSE_lo = np.sqrt(mse(y_true = y_test, y_pred = lr_lo.predict(X_test)))
print('RMSE = %.3f' % RMSE_lo)

RMSE = 0.448

## 交叉验证

In [17]:
from sklearn.model_selection import cross_val_score

In [18]:
r2_scores = cross_val_score(lr, X, y, scoring = 'r2', cv = 5)
rmse_scores = cross_val_score(lr, X, y,
                              scoring = 'neg_root_mean_squared_error', cv = 5)
print('Folds: %i, mean R2: %.3f' % (len(r2_scores), np.mean(r2_scores)))
print('Folds: %i, mean RMSE: %.3f' % (len(rmse_scores), -np.mean(rmse_scores)))

Folds: 5, mean R2: 0.797
Folds: 5, mean RMSE: 0.452

In [19]:
r2_scores

array([0.73857133, 0.85559809, 0.78939253, 0.78667972, 0.81268885])

In [21]:
r2_scores = cross_val_score(lr, X, y, scoring = 'r2', cv = 5)
rmse_scores = cross_val_score(lr, X, y,
                              scoring = 'neg_root_mean_squared_error', cv = len(X))
print('Folds: %i, mean R2: %.3f' % (len(r2_scores), np.mean(r2_scores)))
print('Folds: %i, mean RMSE: %.3f' % (len(rmse_scores), -np.mean(rmse_scores)))

Folds: 5, mean R2: 0.797
Folds: 99, mean RMSE: 0.374

In [22]:
from sklearn.model_selection import LeaveOneOut

sample_x = range(5)
loo = LeaveOneOut()
for train, test in loo.split(sample_x):
    print(train, test)

[1 2 3 4] [0]
[0 2 3 4] [1]
[0 1 3 4] [2]
[0 1 2 4] [3]
[0 1 2 3] [4]